[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.115"
granian = "*"
pydantic-settings = "*"

[dev-packages]
pytest = "~=8.4.0"
granian = {extras = ["reload"], version = "*"}

[requires]
python_version = "3.12"
